<button mat-mini-fab class="floating-action" color="primary" routerLink="add">+</button>
<div class="example-header mdc-toolbar-fixed-adjust">

  <div class="outer-title">Order List</div>
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  
<mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="orderNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header> orderNumber </mat-header-cell>
    <mat-cell *matCellDef="let row"><a>{{row.orderNumber}}</a>  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef mat-sort-header> product </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.product}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header> phone </mat-header-cell>
    <mat-cell *matCellDef="let row" (click)="customerDetails()"> {{row.phone}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="grandTotal">
    <mat-header-cell *matHeaderCellDef mat-sort-header> grandTotal </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.grandTotal}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="orderDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> orderDate </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.orderDate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> startDate </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.startDate}}</mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> endDate </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.endDate}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  

  <!-- Color Column -->


  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button *ngIf="row.status=='Booked'" mat-raised-button color="primary" [routerLink]="['/orders/add']" [queryParams]="{ orderNumber: (row.orderNumber),'action':'delivery'}">Deliver</button>
      <button *ngIf="row.status=='Delivered'" mat-raised-button color="accent" [routerLink]="['/orders/add']" [queryParams]="{ orderNumber: (row.orderNumber),'action':'return'}">Return</button>
      <button *ngIf="row.status=='Returned'" mat-raised-button color="warn" [routerLink]="['/orders/details']" [queryParams]="{ orderNumber: (row.orderNumber)}">Details</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
</div>
