<div id="shrine-products" class="mdc-layout-grid mdc-toolbar-fixed-adjust">
    <div class="mdc-layout-grid__cell"  *ngFor="let product of xyz.Products">
    <div class="mdc-card shrine-product-card">
    <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">{{product.Product_Name}}</h1>
            <h2 class="mdc-card__subtitle">Product Code :{{product.Product_Code}}</h2>
    </section>
    <img class="shrine-product-card__image" width="400" height="600" alt="Sunglasses" src={{product.Image}}>
    <section class="mdc-card__primary">
  <span class="mdc-card__title shrine-product-card__price">Rent : {{product.Rent}}</span>
  <span class="mdc-card__title shrine-product-card__price">Status : {{product.Status}}</span>
  </section>
    </div>
    </div>
  </div>
