<div class="example-container mat-elevation-z8 mdc-toolbar-fixed-adjust">
  <div class="form-container">
<form class="example-form">
    <input id="csvfile" type="file" value="i">
    <button id="submitbutton" type="button" (click)="upload()">Upload CSV file!</button>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Code" [(ngModel)]="model.product_code" name="product_code">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Product Name" [(ngModel)]="model.product_name" name="product_name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Manfacturing Code" [(ngModel)]="model.manfacturing_code" name="manfacturing_code">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Rent" [(ngModel)]="model.rent" name="rent" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Procement Cost" [(ngModel)]="model.procurement_cost" name="procurement_cost" type="number" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="ROI" [(ngModel)]="model.roi" name="roi" type="number" >
    </mat-form-field>
  </div>
  <div>
  <mat-form-field>
      <mat-select placeholder="Category" [(ngModel)]="model.category" name="category">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Color" [(ngModel)]="model.color" name="color">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Vendor" [(ngModel)]="model.vendor" name="vendor">
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-select placeholder="Size" [(ngModel)]="model.size" name="size">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Location" [(ngModel)]="model.location" name="location">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Status" [(ngModel)]="model.status" name="status">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <button mat-raised-button color="primary" (click)="add()">Primary</button>
  </form>
 
</div></div>