<!-- <header id="shrine-header"
class="mdc-toolbar mdc-toolbar--fixed mdc-theme--text-primary-on-background">
<div class="mdc-toolbar__row">
<section class="mdc-toolbar__section mdc-toolbar__section--align-center">
<a id="shrine-nav-icon" class="material-icons mdc-ripple-surface"
 aria-label="Click to show the navigation menu"
 aria-controls="shrine-nav-menu"
 data-mdc-auto-init="MDCRipple"
 data-mdc-ripple-is-unbounded (click)="toggle()">menu</a>
<h1 id="shrine-logo" class="mdc-toolbar__title"><span>Wrapd</span></h1>
</section>
</div>
</header> -->
<div class="example-container">
<mat-toolbar class="example-toolbar" color="primary">
        <mat-toolbar-row>
          <button class="mat-icon-button" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          <span>Sample App</span>
        </mat-toolbar-row>
</mat-toolbar>
<!-- <aside id="shrine-nav-menu" class="mdc-temporary-drawer" #drawer data-mdc-auto-init="MDCTemporaryDrawer">
<nav class="mdc-temporary-drawer__drawer">
<header class="mdc-temporary-drawer__header"></header>
<nav class="mdc-temporary-drawer__content mdc-list">
<a class="mdc-list-item" routerLink="home">Home</a>
<a class="mdc-list-item" routerLink="lajpat">Lajpat Nagar</a>
<a class="mdc-list-item" routerLink="laxmi">Laxmi Nagar</a>
<a class="mdc-list-item" routerLink="patel">Patel Nagar</a>
<a class="mdc-list-item" routerLink="delivery">Delivery</a>
<a class="mdc-list-item" routerLink="products">Products</a>
</nav>
</nav>
</aside>

-->

<mat-sidenav-container class="example-sidenav-container" (backdropClick)="sidenav.close()" >
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
      <mat-nav-list>
      <a mat-list-item routerLink="">Dashboard</a>
      <a mat-list-item routerLink="orders">Orders</a>
      <a mat-list-item routerLink="products">Products</a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>

