.wpd-toolbar{
    background-color: #0088bf;
}
.mdc-grid-tile {
    width : 300px;
  }
 .mdc-grid-tile__primary{
     border: 1px solid;
 } 
 .mdc-grid-tile__secondary{
     background-color: #0088bf;
 }
 .mat-sidenav {
    width: 15%;
    min-width: 200px;
    margin-top: 64px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 40px;
}