.wpd-toolbar{
    background-color: #0088bf;
}
.mdc-grid-tile {
    width : 300px;
  }
 .mdc-grid-tile__primary{
     border: 1px solid;
 } 
 .mdc-grid-tile__secondary{
     background-color: #0088bf;
 }