.detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem;
  margin: 100px 50px 0;
  grid-template-areas:
    "title title"
    "kpi kpi"
    "image information";
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "title"
      "kpi"
      "image"
      "information";
  }
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kpi {
  grid-area: kpi;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .kpi > mat-card {
    width: 200px;
  }
}
.information {
  grid-area: information;
}
.image {
  grid-area: image;
}
